.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}


#openBtn {
  position: absolute;
  top: 5px;
  left:5px;
}


/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}


/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}


.openbtn:hover {
  background-color: #444;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}












.navbar {
  margin-left: 150px
}
body {
  background-color: #31263e


;
}


.important-text {
  border: 5px solid #221e22;
  background-color: #9781b1;
  padding: 5px;
  color: black


}


.projectImg, .project-img, .projectImg1, .projectImg2 {
  width: 40%;
  height: 250px;
  margin: 10px;
  transition: box-shadow 0.3s ease;
}


.contact-img, .contactImg{
  width: 20%;
  border-radius: 35px;
  margin: 10px;
  transition: box-shadow 0.3s ease;
}


.cover-photo {
  margin-left: 50px;
  margin-top: 20px;
  width: 90%;
  border: 5px solid grey;
 
}


.resume-img {
  width: 50%
}


.skill-img {
  width: 40%;
}
/* .about-and-skills {
  display: flex;
  gap: 20px;
  align-items: flex-start;
} */


.important-text, .skills-div {
  flex: 1; /* Make both divs take equal width */
}


@media screen and (max-width: 768px) {
  .about-and-skills {
    flex-direction: column;
  }
}


.skills-div {
  background-color: #9781b1;
  border: 5px solid #221e22;
  color: black;
  padding: 5px;
}


.skills-content {
  display: flex;
  gap: 20px; /* space between text and image */
  align-items: center; /* vertically align items */
}


.skills-content p {
  flex: 1; /* allow the paragraph to take available space */
}


.skill-img {
  width: 200px; /* set a fixed width or percentage */
  height: auto;
  border-radius: 500px;
 
}


@media screen and (max-width: 768px) {
  .skills-content {
    flex-direction: column;
    align-items: flex-start;
  }


  .skill-img {
    width: 100%; /* full width on small screens */
  }
}






p, h2, h1, h3 {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}


.contact-img:hover, .contactImg:hover {
  box-shadow: 5px 5px 50px #111;
}








/* Makes a shadow for the images listed above and below */
.project-img:hover, .projectImg:hover, .projectImg1:hover, .projectImg2:hover {
  box-shadow: 5px 5px 50px #111;
}  


 


hr.rounded {
  border-top: 700px solid black;
  border-radius: 5px;
}


html, body {
  margin: 0;
  padding: 0;
}




.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.contact-left {
  display: flex;
  flex-direction:column;
  align-items: start;
  gap: 20px;
}


.contact-left-title h2 {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 5px;
}


.contact-left-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color:black;
  border-radius: 10px;
  margin-bottom: 20px;
}


.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
}


.important-contact-text {
  border: 5px solid black;
  background-color: #9781b1;
  padding: 5px;
  color: black;
}


.contact-left textarea{
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}


.contact-inputs:focus{
  border: 2px solid #efd9ce;


}


.contacts-inputs::placeholder{
  color: #a9a9a9;
}


.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius:50px;
  background: linear-gradient(270deg, #cea2ac, #a998c3);
  cursor: pointer;
}


.contact-left button img {
  height: 15px;
}


.contact-right img {
  width: 500px;
}


@media (max-width:800px) {
  .contact-inputs{
    width: 80vw;
  }
  .contact-right {
    display: none;
  }
}




* {
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}


section {
  min-height: 100vh;
  padding: 5rem 9% 5rem
}


.home {
  display: flex;
  justify-content: center;
  gap: 8rem;
  background-color: #9781b1
}


.home .home-content h1 {
font-size: 6rem;
font-weight: 700;
line-height: 1.3;
}




span {
  color: #cea2ac;
}


.home-content h3 {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 700;
}


.home-img  {
  border-radius: 50%;
}




.home-img img {
  position: relative;
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px solid #111;
  cursor: pointer;
  transition: 0.2s linear;
}




.home-img img:hover {
  font-size: 1.8rem;
  font-weight: 50
}




.social-icon a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 0.2rem solid #31263e;
  font-size: 2rem;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
 
}


.social-icon a:hover {
  color: black;
  transform: scale(1.3) translateY(-5px);
  background-color: #44355b;
  box-shadow: 0 0 25px #44355b
}


.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: #9781b1;
  border-radius: 4rem;
  font-size: 1.6rem;
  color: black;
  letter-spacing: 0.3rem;
  font-weight: 600;
  border: 2px solid black;
  transition: 0.3s ease;
  cursor: pointer;


}






.btn:hover {
  transform: scale3d(1.03);
  background-color: #31263e;
  color: #efd9ce;
  box-shadow: 0 0 25px #31263e;
}


.typing-text {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}




.typing-text span {
  position: relative;
}


.typing-text span:before{
  content: "Software Developer";
  color: #cea2ac;
  animation: words 20s infinite;
}




.typing-text span:after {
  content: "";
  background-color: #9781b1;
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid #cea2ac;
  right: -8;
  animation: cursor 0.6s infinite;
}


@keyframes cursor{
  to{
    border-left: 3px solid
  }
}




@keyframes words {
  0%, 20% {
    content: "Author";
  }
  21%, 40% {
    content: "Developer";
  }
  41%, 60% {
    content: "Chef";
  }
  61%, 80% {
    content: "Baker"
  }
  81%, 100% {
    content: "Gamer";
  }
}


@media (max-width: 1000px) {
  .home {
    gap:4rem;
  }




}


@media (max-width: 995px){
  .home {
    flex-direction: column;
    margin: 5rem 4rem;
  }


  .home .home-content h3 {
    font-size: 2.5rem;
  }




  .home .home-content h1 {
    font-size: 5rem;
  }


  .home-img img {
    width: 70vh;
    margin-top: 4rem;
  }
}

